body {
    
    background: linear-gradient(#71b7e6,#9b59b6);    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
      }

.container
{
    max-width: 700px;
    width:100%;
    background-color: aliceblue;
    border-radius: 3px;
   
}

.container form .Contact-wrapper
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0 12px 0;
}
    
form .Contact-wrapper .input-box
{
    width: calc(100% / 2 - 20px);
}

.Contact-wrapper .input-box 
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    
}
.Contact-wrapper .input-box input
{
    height:45px;
    width:90%;
    outline: none;
    border-radius: 5px;
    border:1px solid;
    padding-left: 15px;
    font-size: 16px;
}

button 
{
    background-color:royalblue;
}